#container {
  overflow: hidden;

  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input {
  color: white;
  font-family: "Montserrat", sans-serif;
}

input {
  font-size: 0.833vw;
  font-weight: 500;
  color: black;
  width: 78%;
}

/* h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
} */

/* #site-title1:hover,
#site-title2:hover {
  color: white;
} */

#site-title1 {
  font-family: "Montserrat", sans-serif;
  color: #35b997;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 12.778vw;
  top: 0.694vw;
  font-size: 8.472vw;
}

#site-title2 {
  font-family: "Montserrat", sans-serif;
  color: #35b997;
  display: flex;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 14.514vw;
  top: 7.361vw;
  font-size: 8.472vw;
}

#form-container-title {
  font-size: 1.667vw;
}

#form-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 68%;
  padding-top: 0.903vw;
  margin-left: 2.222vw;
  border-bottom: 0.243vw solid #777395;
}

#song-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 0.903vw;
  border-bottom: 0.208vw solid #35b997;
}

label {
  font-size: 1.042vw;
}

#form-container {
  width: 12%;
}

#genre-container {
  display: none;
  border: solid #35b997 0.069vw;
  padding-top: 0vw;
  padding-left: 0.694vw;
  padding-right: 1.736vw;
}

#song-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  height: auto;
  margin-left: 45.833vw;
  margin-top: -1.8250950570342vh;
  padding-top: 11.153155893536vh;
  top: -29.514vw;
  width: 40%;
  border: solid #35b997 0.139vw;
  overflow-x: hidden;
}

body {
  background-color: #000;
  overflow: hidden;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  height: 4.167vh;
  width: 5.556vw;
  margin: 0vw 0 0 -2.778vw;
  line-height: 4.167vw;
  position: absolute;
  left: 90vw;
  top: 10.5vh;
  bottom: 44.931vw;
  color: #fff;
  text-align: center;
  font-size: 4.861vw;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0vw 0vw 0.208vw rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -1.389vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 1.389vw);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -1.389vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 1.389vw);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -1.389vw);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 1.389vw);
    opacity: 0;
  }
}

#song-container-title {
  font-size: 2.5vw;
  position: absolute;
  display: block;
  margin-top: auto;
  top: 2.5%;
  margin-left: 30%;
  animation: color-change 5s infinite;
  z-index: -100;
  color: #f2ecff !important;
}

#song-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 0.903vw;
  border-bottom: 0.243vw solid #f2ecff;
}

::-webkit-scrollbar {
  width: 0.972vw;
}
::-webkit-scrollbar-thumb {
  border-radius: 1.042vw;
  width: 1.389vw;
  background-color: #35b997;
  box-shadow: inset 0 0 0.417vw rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  border-radius: 1.042vw;
  background-color: black;
  box-shadow: inset 0 0 0.417vw rgba(0, 0, 0, 0.4);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.floating1 {
  animation-name: floating;
  animation-duration: 4s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0vw;
  margin-top: 0.347vw;
}

@keyframes floating {
  0% {
    transform: translate(0, 0vw);
  }
  50% {
    transform: translate(0, 1.042vw);
  }
  100% {
    transform: translate(0, 0vw);
  }
}

.floating2 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0vw;
  margin-top: 0.347vw;
}

@keyframes floating {
  0% {
    transform: translate(0, 0vw);
  }
  50% {
    transform: translate(0, 1.042vw);
  }
  100% {
    transform: translate(0, -0vw);
  }
}

@keyframes color-change {
  0% {
    color: #35b997;
  }
  50% {
    color: #b3e8db;
  }
  100% {
    color: #35b997;
  }
}

#create-button,
#see-genres-button {
  background-color: transparent;
  font-weight: bold;
  border: 0.104vw solid #777395;
  color: #777395;
  border-radius: 0vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.181vw;
  margin: 0.278vw 0.139vw;
  transition-duration: 0.09s;
  cursor: pointer;
}

#create-button:hover {
  background-color: #777395;
  color: white;
  font-weight: bold;
  transform: skew(0deg, 4deg);
}

#see-genres-button:hover {
  background-color: #777395;
  color: white;
  font-weight: bold;
  transform: skew(0deg, -4deg);
}

#create-button:focus,
#see-genres-button:focus {
  outline: none;
  box-shadow: none;
}

#song-name {
  font-size: 1.493vw;
}

#song-info {
  font-size: 1.111vw;
}
.floating3 {
  animation-name: floating;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0vw;
  margin-top: 0.347vw;
}

@keyframes floating {
  0% {
    transform: translate(0, 0vw);
  }
  50% {
    transform: translate(0, 1.042vw);
  }
  100% {
    transform: translate(0, -0vw);
  }
}

#circle {
  width: 34.722vw;
  height: 34.722vw;
  position: fixed;
  z-index: -9999;
  top: 11.111vw;
  left: 56.944vw;
  background: #777395;
  border-radius: 50%;
}

#circle2 {
  width: 3.472vw;
  height: 3.472vw;
  position: fixed;
  z-index: -9999;
  bottom: 6.944vw;
  right: 46.528vw;
  background: #35b997;
  border-radius: 50%;
}

#circle3 {
  width: 1.736vw;
  height: 1.736vw;
  position: fixed;
  z-index: -9999;
  bottom: 9.375vw;
  right: 43.056vw;
  background: #35b997;
  border-radius: 50%;
}

#circle4 {
  width: 6.25vw;
  height: 6.25vw;
  position: fixed;
  z-index: -9999;
  bottom: 12.5vw;
  right: 41.667vw;
  background: #777395;
  border-radius: 50%;
}

#circle5 {
  width: 2.431vw;
  height: 2.431vw;
  position: fixed;
  z-index: -9999;
  bottom: 19.444vw;
  right: 44.306vw;
  background: #35b997;
  border-radius: 50%;
}

#circle6 {
  width: 4.167vw;
  height: 4.167vw;
  position: fixed;
  z-index: -9999;
  bottom: 8.194vw;
  right: 36.458vw;
  background: #777395;
  border-radius: 50%;
}

.song-divider {
  border: 0;
  border-bottom: 0.278vw solid white;
  width: 5.903vw;
  text-align: center;
  padding-top: 1.1vw;
  margin-left: 43.9%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#liked {
  background: transparent;
  border: 1.5px solid white;
  color: white;
  margin-bottom: -80%;
  margin-right: 40%;
  height: 38px;
  width: 99px;
  font-size: 16px;
  text-align: right;
  padding-right: 12px;
  border-radius: 15px;
}

#liked::before {
  content: url("https://api.iconify.design/uiw/like-o.svg?color=white&flip=vertical&width=20&height=20");
  padding-right: 6.5px;
}

#unliked {
  background: transparent;
  border: 1.5px solid white;
  color: white;
  margin-bottom: -80%;
  margin-right: 40%;
  height: 38px;
  width: 99px;
  font-size: 16px;
  text-align: right;
  padding-right: 12px;
  border-radius: 15px;
}

#unliked::before {
  content: url("https://api.iconify.design/uiw/dislike-o.svg?color=white&flip=vertical&width=20&height=20");
  padding-right: 22px;
}
