#container {
  overflow: hidden;

  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
input {
  color: white;
  font-family: "Montserrat", sans-serif;
}

input {
  font-size: 12px;
  font-weight: 500;
  color: black;
  width: 78%;
}

/* h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
} */

/* #site-title1:hover,
#site-title2:hover {
  color: white;
} */

#site-title1 {
  font-family: "Montserrat", sans-serif;
  color: #35b997;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 184px;
  top: 10px;
  font-size: 122px;
}

#site-title2 {
  font-family: "Montserrat", sans-serif;
  color: #35b997;
  font-weight: 900;
  font-style: italic;
  position: absolute;
  left: 209px;
  top: 106px;
  font-size: 122px;
}

#form-container-title {
  font-size: 24px;
}

#form-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 68%;
  padding-top: 13px;
  margin-left: 32px;
  border-bottom: 3px solid #35b997;
}

#song-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 13px;
  border-bottom: 3px solid #35b997;
}

label {
  font-size: 15px;
}

#form-container {
  width: 12%;
}

#genre-container {
  display: none;
  border: solid #35b997 1px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 25px;
}

#song-container {
  vertical-align: top;
  text-align: center;
  overflow: scroll;
  position: relative;
  margin-left: 660px;
  top: -425px;
  width: 40%;
  border: solid #35b997 2px;
  overflow-x: hidden;
}

body {
  background-color: #000;
  overflow: hidden;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  height: 60px;
  width: 80px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 90%;
  bottom: 647px;
  color: #fff;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}
@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}
@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

#song-container-title {
  font-size: 36px;
  animation: color-change 5s infinite;
  display: inline-block;
}

#song-container-title:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 13px;
  border-bottom: 3px solid #35b997;
}

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  width: 20px;
  background-color: #35b997;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.floating1 {
  animation-name: floating;
  animation-duration: 4s;
  animation-delay: 0.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.floating2 {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@keyframes color-change {
  0% {
    color: #35b997;
  }
  50% {
    color: #b3e8db;
  }
  100% {
    color: #35b997;
  }
}

#create-button,
#see-genres-button {
  background-color: transparent;
  font-weight: bold;
  border: 1.5px solid #35b997;
  color: #35b997;
  border-radius: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  transition-duration: 0.09s;
  cursor: pointer;
}

#create-button:hover {
  background-color: #35b997;
  color: white;
  font-weight: bold;
  transform: skew(0deg, 4deg);
}

#see-genres-button:hover {
  background-color: #35b997;
  color: white;
  font-weight: bold;
  transform: skew(0deg, -4deg);
}

#create-button:focus,
#see-genres-button:focus {
  outline: none;
  box-shadow: none;
}

#song-name {
  font-size: 21px;
}

.floating3 {
  animation-name: floating;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#circle {
  width: 500px;
  height: 500px;
  position: fixed;
  z-index: -9999;
  top: 160px;
  left: 820px;
  background: #35b997;
  border-radius: 50%;
}

#circle2 {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: -9999;
  bottom: 100px;
  right: 670px;
  background: #35b997;
  border-radius: 50%;
}

#circle3 {
  width: 25px;
  height: 25px;
  position: fixed;
  z-index: -9999;
  bottom: 135px;
  right: 620px;
  background: #35b997;
  border-radius: 50%;
}

#circle4 {
  width: 90px;
  height: 90px;
  position: fixed;
  z-index: -9999;
  bottom: 180px;
  right: 600px;
  background: #35b997;
  border-radius: 50%;
}

#circle5 {
  width: 35px;
  height: 35px;
  position: fixed;
  z-index: -9999;
  bottom: 280px;
  right: 638px;
  background: #35b997;
  border-radius: 50%;
}

#circle6 {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: -9999;
  bottom: 118px;
  right: 525px;
  background: #35b997;
  border-radius: 50%;
}
